{% extends "base.html" %}
{% block title %}Category List{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <h1>Category: {{ catlist.category.name }}</h1>
            <div class="row">
                {% for post in catlist.posts %}
                <!--{{ post.slug }}   Debug line to check slug values -->
                 {{catlist.cat}}
                <div class="col-md-4">
                    <div class="card mb-4">
                        {% if post.slug %}
                            <a class="text-dark" href="{% url 'post_detail' post.slug %}">
                        {% else %}
                            <span class="text-muted">No link available</span>
                        {% endif %}
                            <div class="card-body">
                                <div class="image-container">
                                    <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                                    <div class="image-flash">
                                        <p class="author">Author: {{ post.author }}</p>
                                    </div>
                                </div>
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </div>
                        {% if post.slug %}
                            </a>
                        {% endif %}
                        <hr />
                        <p class="card-text text-muted h6">{{ post.created_on }} <i class="far fa-heart"></i> {{ post.number_of_likes }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
