{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit comment{% endblock %}

{% block content %}

<!-- edit_comment.html content starts here -->

<div class="container-fluid">

    <div class="row">
        <!-- Category title -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                <h3>Edit Comment</h3>
                <form method="POST" action="{% url 'comment_edit' post.slug comment.id %}">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <div class="d-flex justify-content-between mt-3">
                        <button type="submit" class="btn btn-edit">Update Comment</button>
                        <a href="{% url 'post_detail' post.slug %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
