.brand {
    font-family: Lato, sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: #003f66;
}

.gold-div {
    color: #b1702a;
    font-weight: bold;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #ffffff;
}

.dark-bg {
    background-color: #003f66;
}

.main-bg {
    background-color: #fffce9;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #003f66;
}

.scale {
    width: 100%;
    height: auto;
}

.category {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.card-body {
    font-family: Roboto, sans-serif;
    color: #212529;
}

.post-link,
.page-link {
    text-decoration: none;
    color: #003f66;
}

.post-link:hover,
.page-link:hover {
    color: #212529;
}

.post-title {
    margin-top: 15%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.link-color {
    color: #003f66;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
    cursor: pointer;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.btn-delete {
    color: white;
    background: #de6545ff;
}

.icon-link {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.icon-link:hover i {
    color: lightgray;
}

/* Media Query for Mobile Phones */
@media (max-width: 600px) {
    .brand {
        font-size: 1.4rem;
    }

    .masthead {
        height: 25vh;
    }

    .post-title {
        margin-top: 10%;
        margin-left: 2%;
    }

    .post-subtitle {
        margin-left: 2%;
    }

    .image-flash {
        min-width: 50%;
    }
}

/* Media Query for Desktop and Laptop */
@media (min-width: 1024px) {
    .brand {
        font-size: 2rem;
    }

    .masthead {
        height: 40vh;
    }

    .post-title {
        margin-top: 20%;
        margin-left: 10%;
    }

    .post-subtitle {
        margin-left: 10%;
    }

    .image-flash {
        min-width: 25%;
    }
}
